.bar {
  height: 6px;
  width: 100%;
  background: linear-gradient(to right, #6ee7b7, #3b82f6, #a78bfa);
  position: absolute;
  overflow-x: hidden;
}

.highlight {
  color: #10b981;
}
.blue {
  color: #3b82f6 !important;
}
.bg-blue {
  background-color: #3b82f6;
  color: white;
}
a {
  color: #3b82f6;
}
.bold {
  font-weight: bold;
}
.btn-link:hover {
  color: #2563eb;
}

.bg-green {
  background-color: #10b981;
  color: #fff !important;
}

article header {
  padding: 0.8rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
 

.card-body {
  padding: 1rem;
}

.xs {
  font-size: 0.8rem;
}

.secondary {
  color: #b3b5b8;
}

.underline {
  text-decoration: underline !important;
}

.underline-none {
  text-decoration: none !important;
}

.white {
  color: white;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.between {
  justify-content: space-between;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-8 {
  margin-top: 8rem;
}
.text-3xs {
  font-size: 12px !important;
}
.base {
  font-size: 1.1rem;
}
.xl {
  font-size: 1.5rem;
}

li {
  list-style: none !important;
}
.absolute {
  position: absolute;
}
.bottom-0 {
  bottom: 0%;
}
.container-sm {
  max-width: 550px;
}
 
